{% extends "base.html" %}
{% block content %}
<h1  class="display-4", style="alignment: center">{{ project.title }}</h1>
    <br>

<div class="row">
    <div class="col-md-8">
        <img src="{{ project.image.url }}" alt="" width="50%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Date Created:</h5>
        <p>{{ project.date_pub }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <br>
        <a href="{{ project.github_link }}"><h5>Github Link</h5></a>
         <br>
        <p><a href="{% url 'contact' %}">Want to know more about the project?</a></p>
    </div>
</div>
{% endblock %}